@import "bourbon";


$width: 200px;
$height: 200px;
$margin: 16px auto 16px;
$color-brown: brown;
$color-blue: rgb(42, 75, 165);

body {
	width: 50%; 
	margin-left: auto;
	margin-right: auto;
	font-family: 'Droid Sans', sans-serif;
}

.header {
	font-size: 38px;
	margin-top: 16px;
	margin-left: 8px;
	margin-bottom: 8px;
	display: block;
}

.description {
	font-size: 16px;
	text-align: center;
	line-height: 200px;
	font-weight: bold;
}

@mixin boxes() {
	display: block;
	width: $width;
	height: $height;
	margin: $margin;
	padding: 8px;
	background-color: $color-brown;
	border-radius: 6px;
}

.boxes {
	@include boxes;
}

@mixin animation-container() {
	width: 720px;
	height: $height;
	position: relative;
}

.color:hover {
	background: $color-blue;
}

.slower {
	transition: .5s ease;
}

.circle:active {
	border-radius: 50%;
}

// Box Changes to triangle when hovered 
.triangle:hover {
	width: 0;
	height: 0;
	border-left: 110px solid white;
	border-right: 110px solid white;
	border-bottom: 220px solid $color-brown;
}

//Box Changes to rectangle with hover
.rectangle:hover {
	width: 100px;
	height: 200px;
}

// Border of box changes when hovered 
.border {
	@include boxes;
		&:hover {
			padding: 2px; 
			border: 6px solid $color-blue;
		}
}

// Box border stays the same, inside color changes
.inside-color:hover {
	@include boxes;
		&:hover {
			padding: 2px;
			background-color: $color-blue;
			border: 6px solid $color-brown;
		}
}

// Inside of tube changes color with hover
.tube {
	width: $width;
	height: 30px;
	margin: $margin;
	padding: 4px;
	border-radius: 22px;
	line-height: 30px;
	border: 4px solid $color-brown;
	background-color: $color-brown;

	&:hover {
		background-color: white;
	}
}

// Tube changes to circle when hovered
.big-circle:hover {
	width: $width;
	height: $height;
	margin: $margin;
	padding: 4px;
	border-radius: 50%;
	border: 4px solid $color-brown;
}

// Tube lengthens when hovered
.expand:hover {
	width: 400px;
	height: 30px;
	margin: $margin;
	padding: 4px;
	border-radius: 22px;
	line-height: 30px;
	border: 4px solid $color-brown;
	background-color: white;
}

// Ball rolls back & forth in a container//
.animation-container {
	@include animation-container;
}

.ball {
  width:$width;
  height:$height;
  border-radius: 50%;  
  background:$color-brown;
  position:absolute;

  		@include animation (rollingball 5s infinite);
}

@include keyframes (rollingball) {
	0%{left:5%;}
  	50%{left:70%;}
  	100%{left:5%;}
}

// Rectangle tilts when clicked
.rectangle-tilt {

	width: $width;
	height: 30px;
	margin: $margin;
	padding: 4px;
	border-radius: 22px;
	line-height: 30px;
	background-color: $color-brown;

	&:active {
		@include transform(rotate(25deg));
	}
}

// Box Skews when hovered
.skew {

	&:hover {
		@include transform(skewY(25deg));
	}
}

// Box spins when hovered 
.spin:hover {
	@include transform(rotate(360deg));
	@include transition (all 1s linear);
}

// Box changes to circle, rolls back to box
.boxcircle-container {
	width: 720px;
	height: $height;
	position: relative;
}

.boxcircle {
	width: $width;
	height: $height;
	display: block;
	background-color: $color-brown;
	border-radius: 6px;
	position: absolute;

  		@include animation(boxcircle 5s infinite);
}

@include keyframes(boxcircle) {
	0%{left:0%;}
 	5%{border-radius: 50%;}
 	25%{border-radius: 50%;}
 	50%{left:70%;border-radius: 6px;}
 	55%{border-radius: 50%;}
 	75% {border-radius: 50%;}
 	100%{left:0%;}
}


// Just a button
.nice-housing {
	width: $width;
	height: 100px;
	margin: $margin;
	position: relative;
}

.button {
	width: $width;
	height: 100px;
	background-color: $color-blue;
	margin: 0px auto 16px;
	border-radius: 12px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 32px;
	color: white;
	text-align: center;
	line-height: 100px;
	text-shadow: 2px 3px 0px rgb(62, 61, 61);
	box-shadow: 4px 7px 4px 0px rgb(174, 170, 170);
	position: absolute;

	&:hover {
		height: 96px;
		box-shadow:inset 4px 3px 0px 0px rgb(174, 170, 170);
	}

}

// Large red button in grey housing
.red-button {
	width: $width;
	height: $height;
	margin: $margin;
	background-color: rgb(251,13,33);
	border-radius: 50%;
	box-shadow: 11px 7px 0px 0px rgb(249, 98, 98);
	position: absolute;
	top: 125px;
	left: 42px;

	&:hover {
		background-color: #fb0d21;
		border-radius: 50%;
		box-shadow: inset 11px 7px 0px 0px rgb(174, 24, 24);
	}
}

.button-housing {
	width: 300px;
	height: 500px;
	margin: $margin;
	background-color: #596a72;
	position: relative;
	border-radius: 4px;
}


// Text Enlarges when hovered
.large-text:hover { 
	font-size: 32px;
}

// Ball rolls behind another
.color-ball-container {
	width: 720px;
	height: $height;
	margin: $margin;
	position: relative;
}

.color-ball-1, .color-ball-2 {
	width: $width;
	height: $height;
	border-radius: 50%;
	position: absolute;
}

.color-ball-1 {
	left: 0;
	background-color: yellow;
	opacity: .6;
}

.color-ball-2 {
	right: 0;
	background-color: blue;
	opacity: .2;
}

@include keyframes(color-ball) {
 	0%{left:0%;}
 	100%{left:72%;}
}

.color-ball-1 {
 	@include animation(color-ball 5s infinite);
}

// Text Enlarges when hovered
.big-text {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	line-height: 200px;
	font-weight: bold;
	font-size: 32px;
}

// Font color changes when hovered
.blue-font:hover {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	line-height: 200px;
	font-weight: bold;
	font-size: 32px;
	color: $color-blue;
}








